<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= form.error_notification %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center><h1>Edit <%= resource_name.to_s.humanize %></h1></center>

      <div class="form-inputs">
        <%= form.input :first_name, autofocus: true %>
        <%= form.input :last_name %>
        <%= form.input :email, input_html: { autocomplete: "email" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= form.input :password, label: "New password", hint: "Leave it blank if you don't want to change it.", input_html: { autocomplete: "new-password" } %>
        <%= form.input :password_confirmation, label: "Confirm new password", input_html: { autocomplete: "new-password" } %>
        <%= form.input :current_password, hint: "Enter your current password to confirm your changes.", input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= form.button :submit, "Update", class: "btn btn-primary btn-block" %>
      </div>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
<% end %>
